/* styles */ 
body{
    background-color: lightsalmon;
}
.header{
    text-align: center;
    font-size: 62px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    font-family: helvetica;
}
#lasagna{
    text-align: left;
    font-size: 36px;
    color: black; 
    font-weight: bold;
    font-family: helvetica;
}
#pbcookies{
    text-align: left;
    font-family: helvetica;
    font-size: 36px;
    font-weight: bold; 
    color: black;
}
#philly{
    font-family: helvetica;
    font-weight: bold;
    font-size: 36px;
    color: black;
    font-weight: bold;
    text-align: left; 
}

